

<h1>Welcome Back! Please Sign In.</h1>
<div class="login">
  <%= form_for(:session, url: login_path) do |f| %>
  <%= f.label "Email:" %>
  <%= f.text_field :email %>
  <%= f.label "Password:" %>
  <%= f.password_field :password %>
  <%= f.submit "Log In", :class => "btn btn-primary" %>
  <% end %>
</div>
