<div class="add_comment">
  <%= form_for @comment do |f| %>
  <%= f.label "Your Text Here!" %>
  <br>
  <%= f.text_area :content %>
  <%= f.hidden_field(:place_id, value: @place) %>
  <br>
  <%= f.submit "Add Comment", :class => "btn btn-primary" %>
  <% end %>
</div>
