<%= form_tag({controller: 'places', action: 'update', method: 'put'}) do %>
  <h1><%= link_to @place.city, place_path(@place) %></h1>
  <%= label_tag "Going There Some Day" %>
  <%= check_box_tag :future %>
  <%= button_to "delete", {:controller => :places, :action => 'destroy'}, :method => :delete, params: { place_id: @place.id } %>
  <%= hidden_field_tag :place_id, @place.id %>
  <%= submit_tag "Update" %>
<% end %>
